name: my_social_app
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  firebase_auth: ^0.16.1
  cloud_firestore: ^0.13.7
  flutter_bloc: ^5.0.0
  equatable: ^1.2.0
  font_awesome_flutter: ^8.8.1
  google_sign_in: ^4.5.1
  flutter_spinkit: ^4.1.2+1

  cupertino_icons: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
